body {
    background: rgb(47, 0, 50);
    min-width: 700px !important;
}

.navbar {
    background: #000000;
    display: flex;
}

.navson {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navcont {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.navname {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.navname img {
    border-radius: 10px;
}

.pname {
    color: white;
    margin-left: 10px;
    font-size: 21px;
}

.btnnav {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid #9c00b5;
    font-size: 14px;
    margin-left: 5px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.social img {
    transition: 0.4s linear;
}

.social img:hover {
    transform: scale(1.4);
    transition: 0.4s linear;
}

.perfil {
    overflow: hidden;
    color: white;
    text-align: center;
    width: 60%;
}

.card {
    background: #00000065;
}

.cardbody {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
}

.habilidades {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.l .r {
    width: 100%;
}

.r {
    justify-content: start;
}

.l {
    justify-content: end;
}

.cardbodyhab {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    color: white;
    justify-content: space-between;
    background: rgba(79, 79, 79, 0.73);
}

.cardbodyhab img {
    transition: 0.4s linear;
}

.cardbodyhab img:hover {
    transform: scale(1.4);
    transition: 0.4s linear;
}

.cardbodyrec {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cardbodyrec a {
    text-decoration: none;
    color: white;
}

.rec {
    width: 25%;
}

.recend {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media(min-width:450px) and (max-width:1000px) {
    .navson {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .navname {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .navcont {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .navcont button {
        width: 25%;
    }
    .cardbody {
        flex-wrap: wrap;
    }
    .contacto p {
        width: 45%;
    }
    .r {
        justify-content: start;
    }
    .l {
        justify-content: start;
    }
}

@media(min-width:100px) and (max-width:449px) {
    .navson {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .navname {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .navcont {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .navcont button {
        width: 45%;
    }
    .cardbody {
        flex-wrap: wrap;
    }
    .contacto p {
        width: 45%;
    }
    .r {
        justify-content: start;
    }
    .l {
        justify-content: start;
    }
}